
$content-width: 1000px;
$sidebar-width: 264px;
$page-width: $content-width + $sidebar-width;

// ----

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

//signals dark-mode to browser
//noinspection CssUnknownProperty
:root {
  color-scheme: dark;
}

.site-header, h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif
}

#search-input {
  color: $body-text-color;
}

a {
  background-image: unset !important; // remove link-underline
}

.highlight {
  line-height: 0.75em;

  background-color: #111;

  pre {
    background-color: unset;
  }

  code, .err, .na, .nl, .nx, .nc, .k, .kn {
    color: $grey-lt-300;
    background-color: unset;
  }
  .c, .c1 {
    color: $grey-dk-100;
  }
  .p, .se {
    color: $grey-dk-000;
  }
  .n, .s, .s2, .sr, .ss, .si, .nb {
    color: #a1ceff;
  }
  .kc, .mi, .mf, .nv {
    color: $blue-000;
  }
}

blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  margin: 0.5em;

  border: solid 0.2em transparent;
  border-left-color: $grey-dk-000;

  padding: 0 1.5em 0 1.5em;
  line-height: 1.25em;

  background-color: mix($grey-dk-000, $body-background-color, 10%);
  color: $grey-dk-000;

  &.info {
    background-color: mix($blue-000, $body-background-color, 10%);
    border-left-color: $blue-000;
    border-radius: 4px;

    &.important {
      border-left-color: $red-000;
      background-color: mix($red-000, $body-background-color, 10%);
    }
  }
}

.center {
  text-align: center;
}

td, th {
  border: none;
}

th {
  background-color: $grey-dk-200;
}

.search-result-doc .search-result-doc-title {
  overflow: unset;
}

@media (min-width: 50rem) {
  .main {
    max-width: $content-width;
    margin-left: $sidebar-width;
  }

  .side-bar {
    min-width: $sidebar-width;
    width: $sidebar-width;
  }
}

@media (min-width: $page-width) {
  .side-bar {
    width: calc( (100% - #{$page-width}) / 2 + #{$sidebar-width} );
    min-width: $sidebar-width;
  }

  .main {
    margin-left: calc( (100% - #{$page-width}) / 2 + #{$sidebar-width} );
  }
}

h2, h3 {
  scroll-margin-top: 1em;
}

// Highlight linked headings -->
h2:not(:has(> code)):target,
h3:not(:has(> code)):target {
  animation: highlightTexts 3s ease-out;
}

@keyframes highlightTexts {
  from {
    text-shadow:
      0 0 2em rgba(170, 170, 255, 1.0),
      0 0 1em rgba(170, 170, 255, 1.0),
      0 0 0.1em rgba(170, 170, 255, 1.0);
  }
  to {
    box-shadow: 0 0 0em rgba(255, 255, 170, 0.0);
  }
}

h2:target > code,
h3:target > code {
  animation: highlightConfigs 3s ease-out;
}

@keyframes highlightConfigs {
  from {
    box-shadow: 0 0 1em 0 rgba(170, 170, 255, 1.0);
  }
  to {
    box-shadow: 0 0 0em 0 rgba(255, 255, 170, 0.0);
  }
}
// <-- Highlight linked headings

section.config-indent {
  --indent-size: 2em;

  &::before, &::after {
    position: relative;
    font-family: monospace;
    left: calc(-1 * var(--indent-size) - 0.5ch); //-0.5ch to center the line neatly between the {}'s
  }

  &::before { content: "{"; }
  &::after  { content: "}"; }

  & :first-child { margin-top:    0; }
  & :last-child  { margin-bottom: 0; }

  padding-left: var(--indent-size);

  --bracket-height: 2em;
  border-left: 1px solid transparent;
  border-image: linear-gradient(to bottom,
    transparent var(--bracket-height),
    grey var(--bracket-height),
    grey calc(100% - var(--bracket-height)),
    transparent calc(100% - var(--bracket-height))
  );
  border-image-slice: 1; 
}
